.card-list { 
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2rem;
}

.card-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: #d9d9d9;
  margin: 25px 0;
  border-radius: 1rem;
  color: #333;
  overflow: hidden;
}

.menu-image-container {
  width: 100%;
  overflow: hidden;
}

.menu-image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 250px;
}

.menu-name {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 15px;
}

.menu-price {
  font-size: 20px;
  color: #333333;
}

.menu-details {
  padding: 1rem;
}

.menu-description {
  height: auto;          
  padding: 1rem 0;      
  line-height: 1.4;
}

.menu-delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
}

.order-button {
  color: #333333;
  cursor: pointer;
}

@media (min-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .card-container {
    width: 350px;
  }

  .menu-image {
    height: 300px;
  }
}

@media (min-width: 1440px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
  }

  .card-container {
    width: 250px;
  }

  .menu-image {
    height: 200px;
  }
}

@media (min-width: 1728px) {
  .card-container {
    width: 400px;
  }

  .menu-image {
    height: 350px;
  }
}
